@model IEnumerable<BulmaAndBullaFastFood.Models.MenuItem>

<br>
<h3>Items to purchase</h3>

<table>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.Label("$")
                    @Html.DisplayFor(modelItem => item.price)
                </td>
            </tr>
        }
    }
</table>

<div>
    <br>
    <h5>
        Subtotal: @Html.Label("$")
        @Session["subtotal"].ToString()
    </h5>

    <h5>
        Taxes: @Html.Label("$")
        @Session["taxes"].ToString()
    </h5>

    @if (Session["subtotal"].ToString() == "0")
    {
        <h5>
            Delivery: @Html.Label("$")
            @Session["delivery"].ToString() . We charge no delivery for orders with a subtotal higher than 25$!
        </h5>
    }
    else
    {
        <h5>
            Delivery: @Html.Label("$")
            @Session["delivery"].ToString()
        </h5>
    }

    <h5>
        Total: @Html.Label("$")
        @Session["total"].ToString()
    </h5>

</div>

@Html.ActionLink("Payment Information", "PaymentInfo", routeValues: null, htmlAttributes: new { @class = "btn btn-light m-1" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
